body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #163152;
  background-color: #fdfdff;
  margin: 0;
}

.site-navigation-item a {
  font-size: 14px;
  line-height: 18px;
  color: #163152;
  text-transform: uppercase;
  text-decoration: none;
}

.hero h1 {
  font-weight: 400;
  font-style: italic;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
}

.blog-article h2 {
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
  margin-top: 0;
  margin-bottom: 35px;
}

.blog-article-date {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}

.blog-news h2 {
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
  margin: 0;
  margin-bottom: 55px;
}

.post-img {
  margin: 0;
}

.post-img figcaption {
  font-size: 16px;
  line-height: 19px;
  color: #8693a4;
}

.post h3 {
  font-size: 22px;
  line-height: 26px;
}

.post p {
  font-size: 18px;
  line-height: 26px;
}

.post h4 {
  font-size: 20px;
  line-height: 26px;
}

.post ul {
  font-size: 18px;
  line-height: 26px;
}

.post ins {
  text-decoration: none;
}

.post blockquote {
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
}

.post-meta a {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #163152;
  text-decoration: none;
}

.post-meta time {
  font-size: 16px;
  line-height: 19px;
  color: #8693a4;
}

.contacts h2 {
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
}

.contact-item {
  font-size: 16px;
  line-height: 22px;
}

.contact-item h3 {
  font-size: 16px;
  line-height: 22px;
}

.contact-item address {
  font-style: normal;
}
.contact-item a {
  color: #163152;
  text-decoration: none;
}

.main-footer {
  font-size: 10px;
  line-height: 12px;
}

.footer-navigation-topics {
  font-size: 14px;
  line-height: 16px;
}

.footer-navigation-topic h2 {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.footer-navigation-item a {
  color: #163152;
  text-decoration: none;
}

.policy a {
  color: #163152;
  text-decoration: none;
}

.header {
  width: 1225px;
  margin: 0 auto;
  padding: 20px 0;
  margin-bottom: 40px;
}

.main-nav {
  display: flex;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 270px;
}

.logo {
  width: 64px;
}

.user-profile {
  width: 16px;
  margin-left: auto;
}

.main-nav .logo {
  margin-right: 471px;
}

.main-content {
  width: 1225px;
  margin: 0 auto;
  padding: 0 55px;
}

.hero {
  margin-bottom: 120px;
}

.hero h1 {
  margin-top: 0;
  margin-left: 70px;
  margin-bottom: 40px;
}

.blog-article {
  display: flex;
  justify-content: space-between;
  width: 1030px;
  margin-left: auto;
  margin-right: auto;
}

.blog-article-1 {
  margin-bottom: 100px;
}

.blog-article-2 {
  margin-bottom: 120px;
  flex-direction: row-reverse;
  text-align: right;
}

.blog-article-content {
  width: 400px;
}

.blog-article-img {
  width: 600px;
}

.blog-news {
  width: 770px;
  margin: 0 auto;
  margin-bottom: 120px;
}
