body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #163152;
  background-color: #fdfdff;
}

h2 {
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
}

.site-navigation-item a {
  font-size: 14px;
  line-height: 18px;
  color: #163152;
  text-transform: uppercase;
  text-decoration: none;
}

.hero h1 {
  font-weight: 400;
  font-style: italic;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
}

.blog-article p.time {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
